# Ignore sensitive files.
player/*
player.backup
gods/*
data/roster/*

# Ignore logs.
log/*.log
log/imm/*.log
log/logs
log/pk/*.log
log/rp/*.log

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
